Tugas-4 Implementasi Ai Untuk SDM.json
{
  "name": "Tugas-4 Implementasi Ai Untuk SDM",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -624,
        80
      ],
      "id": "e3744d7c-105f-4e11-bac5-bca7b94c97c4",
      "name": "Telegram Trigger",
      "webhookId": "26ce55ae-89ae-411b-a4b3-4cf4b966ca09",
      "credentials": {
        "telegramApi": {
          "id": "FFFyTA7uiml1MxOk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah SOP AI Agent.\n\nATURAN KERAS:\n\nAnda WAJIB menggunakan TOOL \"Data Pertanyaan\" sebelum menjawab.\n\nJawaban HARUS diambil dari hasil tool.\n\nDILARANG menggunakan pengetahuan umum.\n\nJika data tidak ditemukan, jawab: \"Maaf, informasi tersebut tidak tersedia di SOP.\"\n\nPertanyaan pengguna:\n{{ $node[\"Telegram Trigger\"].json.message.text }}\n\nJawaban berdasarkan SOP:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "d5953604-e831-407b-acc2-fbea5d2cf760",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "5706620086",
        "text": "=Pertanyaan yang Anda kirimkan tidak sesuai, harap gunakan pertanyaan dibawah ini:   \n1. Bagaimana prosedur reimbursement \n2. Prosedur pengajuan cuti tahunan \n3. Bagaimana aturan lembur diperusahaan? \n4. Apa syarat klaim asuransi kesehatan \n5. Bagaimana prosedur permintaan alat kerja baru?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -288,
        304
      ],
      "id": "88431d02-9319-40c2-8675-9db33f1a09c2",
      "name": "False Output",
      "webhookId": "dbdacf55-8b28-40e0-bea6-0f1d5f22152b",
      "credentials": {
        "telegramApi": {
          "id": "FFFyTA7uiml1MxOk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "dde63bc5-781c-4f2c-b45d-1a4c7bca2963",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Vful1Sxy5RPLx6ek",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wV49_wY44X7l63Plcn70hThbWKFhfVz155iV152ILKY",
          "mode": "list",
          "cachedResultName": "Data Pertanyaan untuk Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wV49_wY44X7l63Plcn70hThbWKFhfVz155iV152ILKY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wV49_wY44X7l63Plcn70hThbWKFhfVz155iV152ILKY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        160,
        208
      ],
      "id": "cc3b77a4-6e80-4e4f-a617-4c3448f984d0",
      "name": "Data Pertanyaan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fvxWJersic5dSYQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        0
      ],
      "id": "2043f514-81ca-44cd-b076-8f4359954034",
      "name": "Send a text message",
      "webhookId": "642a6841-6bea-4aaa-af86-6344c75c7dc0",
      "credentials": {
        "telegramApi": {
          "id": "FFFyTA7uiml1MxOk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41d11233-7f4f-4e44-8ef1-e2c77fd0fc0d",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur reimbursement",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "644ced0b-e974-446b-a9dc-f53801210ebb",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "13613603-e559-4a3a-a6a5-9689f505b322",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana aturan lembur diperusahaan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "01d51f5e-40cc-481c-82cd-db7841c77617",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Apa syarat klaim asuransi kesehatan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "08ce68ba-0965-47e2-bef2-d606ece9e86f",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cc41e84d-a642-4a72-9793-b2fe81cab600",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "1. Bagaimana prosedur reimbursement",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "de9bb579-105c-40d4-951b-027acf2a9f33",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "2. Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "bbd5bcfc-9167-40eb-b403-27bd7cd01120",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "3. Bagaimana aturan lembur diperusahaan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c0cf7b48-c40b-4cde-84d6-96c6c704ba7e",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "4. Apa syarat klaim asuransi kesehatan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "007f1d48-4c6c-4f72-8e93-27b512dca670",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "5. Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -416,
        80
      ],
      "id": "7ac8d93c-96cd-4f4e-8064-073f302fe7d0",
      "name": "Memastikan sesuai format"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Memastikan sesuai format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Data Pertanyaan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memastikan sesuai format": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "df2cff51-a346-4804-aca1-181c40400764",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5cf99436defecf6e93eb699d1be08f9fc424822e608e602b9181280c493ff8d"
  },
  "id": "bg3XFiovV8WhtLRy",
  "tags": []
}