Tugas-8 Implementasi Ai Untuk SDM.json
{
  "name": "Tugas-8 Implementasi Ai Untuk SDM",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "817a907b-db03-4e19-a523-d50fbbdc4a49",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yPz7rwAc7xU40Qyd6T9B_Ja4vQE4Egoe7xSKSK3qsnA",
          "mode": "list",
          "cachedResultName": "Data Dummy Survey Kepuasan Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yPz7rwAc7xU40Qyd6T9B_Ja4vQE4Egoe7xSKSK3qsnA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 562504614,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yPz7rwAc7xU40Qyd6T9B_Ja4vQE4Egoe7xSKSK3qsnA/edit#gid=562504614"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "2d2bffdf-91f2-4ee0-9553-1fe9e8b9b19b",
      "name": "Mengambil Hasil Survey",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fvxWJersic5dSYQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop semua baris data dari Google Sheet\nfor (const item of items) {\n  // Ambil data feedback dari kolom B\n  const feedbackText = item.json.feedback;\n\n  // Lewati baris jika feedback kosong\n  if (!feedbackText) continue;\n\n  // Buat Prompt Khusus.\n  // Kita minta output JSON agar mudah diolah mesin.\n  const prompt = `\n  Analyze this employee feedback in Indonesian: \"${feedbackText}\"\n\n  Tasks:\n  1. Determine sentiment (POSITIVE, NEUTRAL, NEGATIVE).\n  2. Categorize the issue (e.g., Facility, Management, Salary, Workload, Training).\n  3. Suggest a quick action (max 5 words).\n\n  You must output ONLY valid JSON in this format:\n  {\n    \"sentiment\": \"...\",\n    \"category\": \"...\",\n    \"action_plan\": \"...\"\n  }\n  `;\n\n  // Simpan prompt ke property baru 'ai_prompt' untuk dikirim ke node HTTP Request\n  item.json.ai_prompt = prompt;\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "3f348cc8-8ae5-48b4-a33c-6e074c5cba8a",
      "name": "Menyiapkan Prompt"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "1317cccc-d857-4927-9ab5-7d8dfebcf342",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following employee feedback in Indonesian:\n\"{{ $json.feedback }}\"\n\nContext: You are a Senior HR Specialist.\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        832,
        16
      ],
      "id": "db2bdf46-36a4-4397-96f0-4397c639cf64",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\"POSITIVE\", \"NEUTRAL\", \"NEGATIVE\"],\n      \"description\": \"The emotional tone of the feedback\"\n    },\n    \"category\": {\n      \"type\": \"string\",\n      \"enum\": [\"Facilities\", \"Management\", \"Salary\", \"Workload\", \"Training\", \"Other\"],\n      \"description\": \"The main topic of the complaint/feedback\"\n    },\n    \"action_plan\": {\n      \"type\": \"string\",\n      \"description\": \"A short recommended action in Indonesian (max 10 words)\"\n    }\n  },\n  \"required\": [\"sentiment\", \"category\", \"action_plan\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1008,
        256
      ],
      "id": "6ddac0b2-d209-4c5c-bfb7-61bbb85f9c2f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1yPz7rwAc7xU40Qyd6T9B_Ja4vQE4Egoe7xSKSK3qsnA",
          "mode": "list",
          "cachedResultName": "Data Dummy Survey Kepuasan Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yPz7rwAc7xU40Qyd6T9B_Ja4vQE4Egoe7xSKSK3qsnA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 562504614,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yPz7rwAc7xU40Qyd6T9B_Ja4vQE4Egoe7xSKSK3qsnA/edit#gid=562504614"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "employee_id": "={{ $('Loop Over Items').item.json.employee_id }}",
            "feedback": "={{ $('Loop Over Items').item.json.feedback }}",
            "timestamp": "={{ $('Loop Over Items').item.json.timestamp }}",
            "sentiment": "={{ $('Loop Over Items').item.json.sentiment }}",
            "category": "={{ $('Loop Over Items').item.json.category }}",
            "action_plan": "={{ $('Loop Over Items').item.json.action_plan }}"
          },
          "matchingColumns": [
            "employee_id"
          ],
          "schema": [
            {
              "id": "employee_id",
              "displayName": "employee_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "feedback",
              "displayName": "feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action_plan",
              "displayName": "action_plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        96
      ],
      "id": "7c37fc5a-9e7a-4f94-be31-313551a618b0",
      "name": "Update Survey",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fvxWJersic5dSYQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "command-r-08-2024",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        832,
        304
      ],
      "id": "cffadf52-09ad-4690-a96e-b436b2d3a85d",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "BxtJXrBGoSDWjUaO",
          "name": "Cohere account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Mengambil Hasil Survey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengambil Hasil Survey": {
      "main": [
        [
          {
            "node": "Menyiapkan Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menyiapkan Prompt": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update Survey",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "628f74a2-278b-4261-8f8c-f5792586c407",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5cf99436defecf6e93eb699d1be08f9fc424822e608e602b9181280c493ff8d"
  },
  "id": "w13TKRiyHW4VKpdB",
  "tags": []
}