Tugas-6 implementasi ai untuk sdm 1.json
{
  "name": "Tugas-6 implementasi ai untuk sdm 1",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $('Baca Data DB_Karyawan').item.json.Manager_Email }}",
        "subject": "=Permohonan {{ $('Validasi Cuti').item.json.Jenis_Cuti }}",
        "message": "=<p>Halo Manager,</p>\n\n<p>Ada pengajuan cuti baru yang membutuhkan persetujuan Anda:</p>\n\n<ul>\n  <li><strong>Nama:</strong> {{ $('Validasi Cuti').item.json.Nama_Lengkap }}</li>\n  <li><strong>Email:</strong> {{ $('Validasi Cuti').item.json.Nama_Lengkap }}</li>\n  <li><strong>Tanggal:</strong> {{ $('Validasi Cuti').item.json.Tanggal_Mulai }} s.d {{ $('Validasi Cuti').item.json.Tanggal_Selesai }}</li>\n  <li><strong>Total Durasi:</strong> {{ $('Validasi Cuti').item.json.durationRequested }} Hari</li>\n  <li><strong>Alasan:</strong> {{ $('Validasi Cuti').item.json.Alasan }}</li>\n</ul>\n\n<p>Silakan klik keputusan Anda:</p>\n\n<p>\n  <a href=\"https://n8n-tpwgc7ychh3y.jkt3.sumopod.my.id/webhook/approval-handler?status=approved&email={{ $('Validasi Cuti').item.json.Email }}&days={{ $('Validasi Cuti').item.json.durationRequested }}&id={{ $('Validasi Cuti').item.json.requestId }}\" \n     style=\"background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; margin-right: 15px; display: inline-block;\">\n     ✅ SETUJUI\n  </a>\n\n  <a href=\"https://n8n-tpwgc7ychh3y.jkt3.sumopod.my.id/webhook/approval-handler?status=rejected&email={{ $('Validasi Cuti').item.json['Email_Karyawan'] }}&days={{ $('Validasi Cuti').item.json.durationRequested }}&id={{ $('Validasi Cuti').item.json.requestId }}\" \n     style=\"background-color: #f44336; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\">\n     ✖️ TOLAK\n  </a>\n</p>\n\n<p><small>Link ini menggunakan environment TEST. Pastikan n8n workflow 'Approval Handler' sedang aktif (Execute) saat diklik.</small></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "8f6cc422-7453-4e57-b30d-97f6cf106df7",
      "name": "Email Di Terima",
      "webhookId": "98b32fc9-172e-45a8-852a-a5667f93fab6",
      "credentials": {
        "gmailOAuth2": {
          "id": "r3CxfLQebJNZX89M",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3e024628-554b-4a12-915d-faaac15eaea3",
              "leftValue": "={{ $('Validasi Cuti').item.json.isApprovedSystem }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "2d8e5c26-00ec-4336-afe4-1d1666fb2aa9",
              "leftValue": "={{ $('Validasi Cuti').item.json.isApprovedSystem }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "247ae2d7-f3af-4597-ae68-5507735b21b8",
      "name": "If (Saldo Cukup?)"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1nlA8UXb6t4duZw3jXYhoa-Uaq8HanaRskS8l0t1JvAI",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nlA8UXb6t4duZw3jXYhoa-Uaq8HanaRskS8l0t1JvAI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 637903758,
          "mode": "list",
          "cachedResultName": "Log Pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nlA8UXb6t4duZw3jXYhoa-Uaq8HanaRskS8l0t1JvAI/edit#gid=637903758"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Request": "={{ $json.requestId }}",
            "Timestamp": "={{ $('On form submission').item.json.submittedAt }}",
            "Email_Karyawan": "={{ $('On form submission').item.json['Email Karyawan'] }}",
            "Tanggal_Mulai": "={{ $('On form submission').item.json['Tanggal Mulai'] }}",
            "Jenis_Cuti": "={{ $('On form submission').item.json['Jenis Cuti'] }}",
            "Tanggal_Selesai": "={{ $('On form submission').item.json['Tanggal Selesai'] }}",
            "Durasi": "={{ $json.durationRequested }}",
            "Alasan": "stress n8n",
            "Status": "Pending"
          },
          "matchingColumns": [
            "ID_Request"
          ],
          "schema": [
            {
              "id": "ID_Request",
              "displayName": "ID_Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Karyawan",
              "displayName": "Email_Karyawan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -416,
        96
      ],
      "id": "750d6330-8889-49b9-88fa-9cbcf5e44fd5",
      "name": "Update Sheet Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fvxWJersic5dSYQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Ambil Data dari Node Google Sheets (Input node ini)\n// Asumsi: Node Google Sheets mengembalikan 1 item (data karyawan ybs)\nconst employeeData = items[0].json;\n\n// 2. Ambil Data dari Node Form (Node sebelumnya)\n// Pastikan nama Node Form di dalam kurung $('...') SAMA PERSIS dengan nama node Anda\nconst formData = $('On form submission').first().json;\n\n// 3. Proses Tanggal menggunakan Luxon (LANGSUNG DIPAKAI)\n// Pastikan field di form Anda benar: \"Tanggal Mulai\" dan \"Tanggal Selesai\"\nconst start = DateTime.fromISO(formData[\"Tanggal Mulai\"]);\nconst end = DateTime.fromISO(formData[\"Tanggal Selesai\"]);\n\n// Hitung durasi (selisih hari + 1 agar inklusif)\nconst durationInDays = end.diff(start, 'days').days + 1;\n\n// 4. Logika Validasi Saldo\n// Pastikan kolom di Google Sheet bernama \"Saldo_Cuti\"\nconst currentBalance = parseInt(employeeData[\"Saldo_Cuti\"]); \nconst hasEnoughBalance = currentBalance >= durationInDays;\n\n// Generate ID Unik (Gabungan waktu + random biar tidak kembar)\nconst uniqueId = 'REQ-' + Date.now(); \n\nreturn [\n  {\n    json: {\n      ...employeeData,\n      ...formData,\n      durationRequested: durationInDays,\n      isApprovedSystem: hasEnoughBalance,\n      message: hasEnoughBalance ? \"Saldo Cukup\" : \"Saldo Tidak Cukup\",\n      requestId: uniqueId // <--- Field Baru\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        96
      ],
      "id": "16a420d6-60b0-4af7-b0cd-801c685799e5",
      "name": "Validasi Cuti"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nlA8UXb6t4duZw3jXYhoa-Uaq8HanaRskS8l0t1JvAI",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nlA8UXb6t4duZw3jXYhoa-Uaq8HanaRskS8l0t1JvAI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nlA8UXb6t4duZw3jXYhoa-Uaq8HanaRskS8l0t1JvAI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json['Email_Karyawan'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -832,
        96
      ],
      "id": "3f1d61f8-67f6-4a57-8884-20b6b2298a1e",
      "name": "Baca Data DB_Karyawan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fvxWJersic5dSYQ9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Form Pengajuan Cuti Karyawan",
        "formDescription": "Silahkan isi formulir berikut untuk mengajukan cuti",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email_Karyawan",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Jenis_Cuti",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Cuti Tahunan"
                  },
                  {
                    "option": "Cuti Sakit"
                  },
                  {
                    "option": "Cuti Melahirkan"
                  },
                  {
                    "option": "Cuti Darurat"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Tanggal_Mulai",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Tanggal_Selesai",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Alasan",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1040,
        96
      ],
      "id": "97aaa83b-c56f-44c9-9aca-6ae1109f138f",
      "name": "On form submission",
      "webhookId": "26873703-ed90-436c-a3b1-2c4de4abdbc4"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email_Karyawan}}",
        "subject": "Permohonan ditolak-saldo tidak cukup",
        "message": "=Halo ,{{ $('Validasi Cuti').item.json.Nama_Lengkap }}  Pengajuan cuti Anda untuk tanggal {{ $('Validasi Cuti').item.json['Tanggal_Mulai'] }} s/d {{ $('Validasi Cuti').item.json['Tanggal_Selesai'] }} DITOLAK secara otomatis oleh sistem.  Alasan: Sisa saldo cuti Anda ({{ $json.Saldo_Cuti }} hari) tidak mencukupi untuk pengajuan {{ $('Validasi Cuti').item.json.durationRequested }} hari.  Salam, HR Bot",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        208
      ],
      "id": "2476ee93-0795-43cb-8fea-4abd7d3e5cf0",
      "name": "Email Ditolak",
      "webhookId": "dd621149-9a95-43a8-93a7-694e14bde241",
      "credentials": {
        "gmailOAuth2": {
          "id": "r3CxfLQebJNZX89M",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If (Saldo Cukup?)": {
      "main": [
        [
          {
            "node": "Email Di Terima",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Ditolak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet Log": {
      "main": [
        [
          {
            "node": "If (Saldo Cukup?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validasi Cuti": {
      "main": [
        [
          {
            "node": "Update Sheet Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Data DB_Karyawan": {
      "main": [
        [
          {
            "node": "Validasi Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Baca Data DB_Karyawan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e5dab32a-1ef7-498b-bdb1-c220504c505c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5cf99436defecf6e93eb699d1be08f9fc424822e608e602b9181280c493ff8d"
  },
  "id": "Z2uBt3tDJQvN1ceZ",
  "tags": []
}